<% layout('layouts/boilerplate')%>
    <div class="container mx-1">
        <h1 class="my-4">Blog Articles</h1>
        <a href="/article/new" class="btn btn-success mb-4">New Articles</a>
        <% for(let article of articles) {%>
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= article.title %>
                    </h5>
                    <div class="card-subtitle text-muted mb-2">
                        <%= article.createdAt.toLocaleDateString() %>
                    </div>
                    <p class="card-text">
                        <%= article.description %>
                    </p>
                    <a href="/article/<%= article._id %> " class="btn btn-primary">Read More</a>
                    <form action="/article/<%= article._id %>?_method=DELETE" method="POST" class="d-inline">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                    <a href="/article/edit/<%= article._id %>" class="btn btn-info">Edit</a>
                </div>
            </div>
            <% } %>
    </div>